In [1]:
#import library for data visualisation
import pandas as pd 
import numpy as np 


from sklearn.preprocessing import OneHotEncoder , LabelEncoder

#this dataset is about predict a loan to predict if someone could get a loan or not 
#for this wwe are going to do a classification model we will take every features to predict this the only column we will need to drop is Loan_ID

In [2]:
df = pd.read_csv("C:/Users/edenl/Desktop/file_rouge/notebook/original_data/train.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

Let's proceed to do a eda : columns , row , nan , duplicates , info on the data , types

In [3]:
class analyzing_data: 
    def __init__(self,df):
        self.df = df
    def info_about_the_data(self):
 
       
        print(f'\n \n Number of rows : {self.df.shape[0]} \n \n')
    
      
        print(f'\n \n Number of column : {self.df.shape[1]}\n \n')
    
        print(f'\n \n Number of Nan : {self.df.isnull().sum().sum()}\n \n')
        
        print(f"\n \nNumber of duplicates : {self.df.duplicated()}\n \n")
        print(f'\n \nInfo on the dataset : {self.df.info()}\n \n')
        #data_summary =  

      

       
        describe =  self.df.describe() 
        print(f'\nDescriptive of the dataset : \n' +  f'\n{describe} \n \n')

        #d_types_column = self.df.dtypes()
        #print(f'\n{d_types_column}\n \n')

        print(f'\n \n Types of column in the dataset : \n \n')
        d_types = self.df.dtypes.value_counts()
        print(f'\n \n{d_types}\n \n')
        
        # Total null values by each categories
        print(f'\n \n Number of Nan by column : \n \n')
        null_values = self.df.isnull().sum().sort_values() 
        print(f'\n{null_values} \n \n')

        df_nan = pd.DataFrame({'Nan':df.isna().sum()})
        df_nan['%nan'] = df_nan['Nan']/df.shape[0]*100
        T =round(df_nan,2).sort_values(by='%nan' , ascending=False)
        print(T)

In [4]:
test_obj = analyzing_data(df)  
test_obj.info_about_the_data()

 Number of rows : 614




 Number of column : 13




 Number of Nan : 149




Number of duplicates : 0      False
1      False
2      False
3      False
4      False
       ...
609    False
610    False
611    False
612    False
613    False
Length: 614, dtype: bool


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB


Info on the dataset : None



Descriptive of the dataset :

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000




 Types of column in the dataset :




object     8
float64    4
int64      1
dtype: int64




 Number of Nan by column :



Loan_ID               0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
Property_Area         0
Loan_Status           0
Married               3
Gender               13
Loan_Amount_Term     14
Dependents           15
LoanAmount           22
Self_Employed        32
Credit_History       50
dtype: int64


                   Nan  %nan
Credit_History      50  8.14
Self_Employed       32  5.21
LoanAmount          22  3.58
Dependents          15  2.44
Loan_Amount_Term    14  2.28
Gender              13  2.12
Married              3  0.49
Loan_ID              0  0.00
Education            0  0.00
ApplicantIncome      0  0.00
CoapplicantIncome    0  0.00
Property_Area        0  0.00
Loan_Status          0  0.00

droping the useless column

In [5]:
df = df.drop("Loan_ID" , axis=1)

droping the nan  values

In [6]:
df.dropna(inplace=True)

Encoding the data for it to transform in usable numerical data

In [7]:
categ = ["Gender" , "Married" , "Education" , "Self_Employed" , "Property_Area" , "Loan_Status" , "Dependents"]
le = LabelEncoder()
df[categ] = df[categ].apply(le.fit_transform)

Export the cleaned dataframe to a new dataset

In [8]:
cleaned_df = df.to_csv("original_data/clean.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'original_data/clean.csv'

In [ ]:
cleaned_df